<form class="form">
  <div class="titre">
    <tr>
      <h2> Ma nouvelle recette</h2>
    </tr>
  </div>
  <div class="type">

    <input type="checkbox" name="entree" id="entree" /> 
      <label for="entree">Entrée</label>
    <input type="checkbox" name="plat" id="plat" /> 
      <label for="plat">Plat</label>
    <input type="checkbox" name="dessert" id="dessert" /> 
      <label for="dessert">Dessert</label>   

  </div>
  <div class="nom">
    <input type="text" placeholder="Nom de la recette " >

  </div>
  <div class="ingredients">

  </div>
  <div class="temps">
    <div class="prepa">
    Temps de préparation 
      <input class="time">
    </div>
    <div class="repos">
        Temps de repos
        <input class="time">
    </div>
    <div class="cuiss">
        Temps de cuisson
        <input class="time">
    </div>
    <div class="total">

    </div>
  </div>
  <div class="instruc">
    Description <textarea autocapitalize="sentence" placeholder="recette" ></textarea>
  </div>
  <div class="image">
    <input type="file">
  </div>
  <div>
    <button type="submit">Ajouter</button>
  </div>


</form>